$prefix: 'l0k-swap';

$content-width: var(--10k-swap-width-content);

// colors
$color-primary: var(--10k-swap-color-primary);
$color-danger: var(--10k-swap-color-danger);
$color-white: #fff;
$color-black: #000;

// text-colors
$color-primary-text: var(--10k-swap-font-color-primary);
$color-secondary-text: var(--10k-swap-font-color-secondary);
$color-description-text: var(--10k-swap-font-color-description);
$color-light-text: var(--10k-swap-font-color-light);

// bg-colors
$color-bg: var(--10k-swap-color-bg);
$color-bg-plain: var(--10k-swap-color-bg-plain);
$color-bg-secondary: var(--10k-swap-color-bg-secondary);
$color-bg-secondary-hover: var(--10k-swap-color-bg-secondary-hover);
$color-bg-light: var(--10k-swap-color-bg-light);

$color-overlay: var(--10k-swap-color-overlay);

// fonts
$font-size-mini: var(--10k-swap-font-size-mini);
$font-size-sm: var(--10k-swap-font-size-sm);
$font-size-normal: var(--10k-swap-font-size-normal);
$font-size-md: var(--10k-swap-font-size-md);
$font-size-lg: var(--10k-swap-font-size-lg);
